@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body, *, html {
  margin: 0; 
  padding: 0; 
  box-sizing: content-box;
  font-family: "Public Sans", serif;
}

body {
  min-width: 100vw;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

.title {
  text-align: center;
  font-size: 48px; 
  margin-top: 20px; 
  margin-bottom: 20px;
}

.tooltip {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  min-width: 400px;
  text-align: left;
  color: white;
  opacity: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

#generate-container {
  width: 100%; 
  display: flex; 
  margin-top: 20px; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#generate-button {
  margin-top: 50px; 
  padding: 10; 
  width: 200px; 
  border: none; 
  outline: none;
  cursor: pointer;
  margin-bottom: 20px; 
  padding: 30px 20px; 
  text-align: center;
  border-radius: 6px;
  filter: drop-shadow(0, 0 15px, rgba(0, 0, 0, 0.5));
  color: white;
  position: relative;
  transition: 0.5s ease all;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: #ffb91d;
}
#generate-button:hover {
  background-color: #d09618;
  box-shadow: none;
}

.spark {
  position: absolute;
  width: 20px; 
  border-radius: 50%;
  height: 20px;
  top: 70px;
  pointer-events: none;
  background: #ffb91d;
  z-index: -1; 
  animation: animate 2s linear forwards;
}
.spark:nth-child(even) {
  background: transparent;
  border: 1px solid #ffb91d;
}

@keyframes animate {
  0% {
    opacity: 1; 
    transform: translate(0,0);
  }
  100% {
    opacity: 0; 
    transform: translate(var(--x), var(--y));
  }
}

textarea {
  resize: none;
  padding: 15px;
  min-height: 50px;
  width: 400px;
  margin-bottom: 20px; 
}

.mb {
  margin-bottom: 10px;
}

